body{
    font-family: 'Lato', sans-serif; 
}
.contenedor{
    display : grid;
    grid-template-columns: repeat(8 1fr);
    grid-template-rows: 100px 60px auto 100px;
    grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "nb nb nb nb nb nb nb nb"
        "sd sd ms ms ms ms ms ms"
        "fo fo fo fo fo fo fo fo";

}