*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Lato', sans-serif; 
}
.container {
    height: 100vh;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px auto 40px;
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "c c c c c c c c c c c c"
        "f f f f f f f f f f f f";
}

.header {
    grid-area: h;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background: #48001E;
}   
    .header .nav-hamburger #nav-icon-hamburger{
        font-size: 30px;
        line-height: 40px;
        padding: .3em;
        color: white;
        text-align: center;
        font-weight: 700;
    }

    .header .nav-hamburger #nav-icon-hamburger:hover{
        color: #DC93AF;
        cursor: pointer;
    }
    .header h1 a {
        text-transform: uppercase;
        font-size:1.8rem;
        font-weight: 700;
        color: #fff;
        padding: 8px;
    }

    .header .search {
        display: none;
    }
    .header .login {
     grid-column: 7 / 9;
     padding: 8px;   
    }
    .header .login .fa-user{
        color: #fff; 
    }

    .header .cart{
        grid-column-end: -1;
        padding: 8px;
    }
    .header .cart .fa-shopping-cart{
        color: #fff;
  
    }
    .nav-panel {
        height:100%;
        width:0;
        position:fixed;
        z-index:1;
        top:0px;
        left:0px;
        background-color:#DC93AF;
        opacity:.9;
        overflow-x:hidden;
        padding-top:60px;
        transition:0.5s;
      }
      
      .nav-panel  a{
        padding:10px 10px 10px 30px;
        font-size:1.3rem;
        font-weight: 900;
        color:#fff;
        display:block;
        transition:0.3s;
      }
      
      .nav-panel a:hover{
        color:#48001E;
      }

      .hide-menu{
        display: none;
    }

    .hide-menu a{
        margin-left: 1.5rem;
        color:#48001E;
    }

    .hide-menu a:hover{
      color:#fff;
     }
    .nav-panel ul li:hover .hide-menu{
          display: block;
        
      }
      
      .nav-panel .btn-cerrar{
        position:absolute;
        top:0;
        right:22px;
        font-size:36px;
        margin-left:50px;
      }
      
      .nav-panel ul li a::before {
        content: '';
        display: block;
        height: 2px;
        background-color: #fff;
        width: 0%;
        transition: all ease-in-out 250ms;
      }
      
      .nav-panel ul li a:hover::before {
        width: 75%;
      }
      
      
.content {
    grid-area: c;
    background: #DDDDDE;;
}
    .content .banners {
      max-width: 760px;
      margin: auto;
    }

    .content .banners #slider{
        box-sizing: border-box;
        display: block;
        max-width: 100%;
        height: auto;
        padding: .5em;
    }
    .content .content-grilla{
        display: grid;
        grid-template-columns: 1fr;
        
        
    }
    .fondo-grilla{
        position: relative;   
        display: inline-block;
    }

    .content .content-grilla .fondo-grilla img{
        box-sizing: border-box;
        display: block;
        max-width: 100%;
        height: auto;
        padding: .5em;
        
    }
  
 
    .texto-grilla h2{
        font-size: 3rem;
        color: #DDDDDE;
        border: 3px solid #DDDDDE;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);   
        background: rgba(0, 0, 0, .5);
        padding: 10px;
        
    }
.footer {
    grid-area: f;
    background: yellow;
}




@media screen and (min-width : 738px){
    .container {
        height: 100vh;
        display: grid;
        grid-gap: 1px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 60px 40px auto 40px;
        grid-template-areas: 
            "h h h h h h h h h h h h"
            "m m m m m m m m m m m m"
            "s s c c c c c c c c c c"
            "f f f f f f f f f f f f";
    }
    .header .home{
        grid-column: 3 / 4;
        padding: 8px;
    }
    .header .home h1 a{
        font-weight: 900;
        font-size: 2rem;
    }
    .header .search {
        display: inline-grid;
        grid-column: 6 / 9;
        padding: 12px;
    }
    .header .search .fa-search{
        color: #fff;
        
    }
    .header .search #buscar{
        border: none;
        background: #48001E;
        border-bottom: 2px solid #fff;
        color: #fff;
        font-size: 1.4rem;
        margin-left: 10px;
    }
    
   .header .login{
    grid-column: 10 / 11;
    padding: 12px;
   }
   .header .cart{
       grid-column: 11 / 12;
       padding: 12px; 
   }
    .header .nav-hamburger #nav-icon-hamburger{
        display: none;
    }
     
    .nav-menu{
        grid-area: m;
        background: #933157;
    }

    .content .content-grilla{
         grid-template-columns: 1fr 1fr;
         justify-items: center;
        
    }
}

@keyframes fadeIn{
    to{
      opacity : 1;
    }
  }
  
  .fade-in{
    opacity : 0;
    animation : fadeIn .5s ease-in 1 forwards;
  }

