*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Lato', sans-serif; 
}
.container {
    height: 100vh;
    display: grid;
    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px auto 40px;
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "c c c c c c c c c c c c"
        "f f f f f f f f f f f f";
}

.header {
    grid-area: h;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background: #48001E;
    position: sticky;
    top : 0;
    z-index: 80;
}   
    .header .nav-hamburger #nav-icon-hamburger{
        font-size: 30px;
        line-height: 40px;
        padding: 12px;
        color: white;
        text-align: center;
        font-weight: 700;
    }

    .header .nav-hamburger #nav-icon-hamburger:hover{
        color: #DC93AF;
        cursor: pointer;
    }
    .header h1 a {
        text-transform: uppercase;
        font-size:1.8rem;
        font-weight: 700;
        color: #fff;
        padding: 12px;
    }

    .header .search {
        display: none;
    }
    .header .login {
     grid-column: 7 / 9;
     padding: 12px;   
    }
    .header .login .fa-user{
        color: #fff; 
    }

    .header .cart{
        grid-column-end: -1;
        padding: 12px;
    }
    .header .cart .fa-shopping-cart{
        color: #fff;
  
    }
    .nav-panel {
        height:100%;
        width:0;
        position:fixed;
        z-index:90;
        top:0px;
        left:0px;
        background-color:#DC93AF;
        opacity:.9;
        overflow-x:hidden;
        padding-top:60px;
        transition:0.5s;
      }
      
      .nav-panel  a{
        padding:10px 10px 10px 30px;
        font-size:1.3rem;
        font-weight: 900;
        color:#fff;
        display:block;
        transition:0.3s;
      }
      
      .nav-panel a:hover{
        color:#48001E;
      }

      .hide-menu{
        display: none;
    }

    .hide-menu a{
        margin-left: 1.5rem;
        color:#48001E;
    }

    .hide-menu a:hover{
      color:#fff;
     }
    .nav-panel ul li:hover .hide-menu{
          display: block;
        
      }
      
      .nav-panel .btn-cerrar{
        position:absolute;
        top:0;
        right:22px;
        font-size:36px;
        margin-left:50px;
      }
      
      .nav-panel ul li a::before{
        content: '';
        display: block;
        height: 2px;
        background-color: #fff;
        width: 0%;
        transition: all ease-in-out 250ms;
      }
      
      .nav-panel ul li a:hover::before {
        width: 75%;
      }
      
 .side, .nav-menu{
     display: none;
 }     
.content {
    grid-area: c;
    background: #DDDDDE;;
}
    .content .banners {
      max-width: 760px;
      margin: auto;
    }

    .content .banners #slider{
        box-sizing: border-box;
        display: block;
        max-width: 100%;
        height: auto;
        padding: .5em;
    }
    .content .content-grilla{
        display: grid;
        grid-template-columns: 1fr;
        
        
    }
    .fondo-grilla{
        position: relative;   
        display: inline-block;
    }

    .content .content-grilla .fondo-grilla img{
        box-sizing: border-box;
        display: block;
        max-width: 100%;
        height: auto;
        padding: .5em;
        
    }
  
 
    .texto-grilla h2{
        font-size: 3rem;
        color: #DDDDDE;
        border: 3px solid #DDDDDE;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);   
        background: rgba(0, 0, 0, .5);
        padding: 10px;
        
    }
.footer {
    grid-area: f;
    background: yellow;
}



  .text-center{
    text-align : center;
  }
  .img-card{
    box-sizing: border-box;
    max-width: 100%;
    height: 200px;
   
  }
  .titulo-card{
    color : #48001E;
  }
  .precio-card{
    font-size : 30px;
    color : #933157;
  }
  
  #btn-agregar{
    background : #116611;
    color : #fff;
    border : 0px;
    border-radius : 30px;
    margin : 10px;
    padding : 10px 50px;
    
  }
  
  #btn-agregar:hover{
    background : #55AA55;
    cursor : pointer;
    
  }
  
  .card{
    box-sizing : border-box;
    align-items : center;  
    background : #fff;
    color : #333;
    border : 1px solid #333;
    margin : 0px auto;
    padding : 10px;
    border-radius : 25px;
    box-shadow :10px 10px 5px #888;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
  }
  
  .card:hover {
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  }

#btn-agregar .fa-cart-plus {
    padding: 5px;
}
@media screen and (min-width : 900px){
    .container {
        height: 100vh;
        display: grid;
        
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 60px 50px auto 40px;
        grid-template-areas: 
            "h h h h h h h h h h h h"
            "m m m m m m m m m m m m"
            "s s c c c c c c c c c c"
            "f f f f f f f f f f f f";
    }
    .header .home{
        grid-column: 3 / 4;
        padding: 12px;
    }
    .header .home h1 a{
        font-weight: 900;
        font-size: 2rem;
    }
    .header .search {
        display: inline-grid;
        grid-column: 6 / 9;
        padding: 12px;
    }
    .header .search .fa-search{
        color: #fff;
        
    }
    .header .search #buscar{
        border: none;
        background: #48001E;
        border-bottom: 2px solid #fff;
        color: #fff;
        font-size: 1.4rem;
        margin-left: 10px;
    }
    
   .header .login{
    grid-column: 11 / 12;
    padding: 12px;
   }
   .header .login .fa-user{
    font-size: 1.2rem;
   }
   .header .cart{
       grid-column: 12 / 12;
       padding: 12px; 
   }
   .header .cart .fa-shopping-cart{
    font-size: 1.2rem;
   }
    .header .nav-hamburger #nav-icon-hamburger{
        display: none;
    }
     
.nav-menu{
        grid-area: m;
        display: block;
        background: #933157;
        position: sticky;
        top : 60px;
        z-index: 70;
         
    }
.nav-menu .nav-large-menu{
    text-align: right;
    margin-right: 120px;
}
    .nav-menu .nav-large-menu #menu-large li{
      display: inline-grid;
      background: #933157;
      border-bottom: 1px solid #DC93AF;
      
  }
  
  .nav-menu .nav-large-menu #menu-large li:hover ul{
    display: inline-grid;
    border-top: 1px solid #DC93AF;
}

  #menu-large  a{
      padding: 12px;
      font-size:1.3rem;
      font-weight: 900;
      color:#48001E;
    
    }
    
    #menu-large a:hover{
      color:#fff;
    }    
    
    #menu-large .hide-menu a{
        margin-block-start: auto;
        color:#DC93AF;
        
    }

    #menu-large .hide-menu a:hover{
      color:#fff;
     }
    .nav-menu ul li:hover .hide-menu{
          display: inline-table;
      }
.side{
    grid-area: s;
    display: block;
}
    .content .content-grilla{
         grid-template-columns: 1fr 1fr;
         justify-items: center;
        
    }

    .contenedor-productos{
        display : grid;
        margin : 0 auto;
        max-width : 75%;
        grid-template-columns: repeat(4, 1fr);
        
      }
          
}
@media (max-width : 800px){
    .contenedor-productos{
        display : grid;
        margin : 0 auto;
        max-width : 75%;
        grid-template-columns: repeat(3, 1fr);
      
      }
}

@media (max-width : 600px){
    .contenedor-productos{
        display : grid;
        margin : 0 auto;
        max-width : 75%;
        grid-template-columns: repeat(2, 1fr);
 
      }
 }

 @media (max-width : 500px){
    .contenedor-productos{
        display : grid;
        margin : 0 auto;
        max-width : 75%;
        grid-template-columns: 1fr;
      
      }
 }

@keyframes fadeIn{
    to{
      opacity : 1;
    }
  }
  
  .fade-in{
    opacity : 0;
    animation : fadeIn .5s ease-in 1 forwards;
  }


  