

.button:hover{
    background:#333;
  }
  
  .modal{
    display:none;
    position: fixed;
    z-index:110;
    left: 0;
    top:0;
    height: 100%;
    width:100%;
    overflow: hidden;
    background-color: #00000080;
  }
  
  .modal-content{
    background-color:#f4f4f4;
    margin: 8% auto;
    width:40%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name:modalopen;
    animation-duration:1s;
  }
  
  .modal-header h2{
    margin:0;
    text-align: center;
  }
  
  .modal-header{
    background:rgba(201, 119, 164, .5);
    padding:15px;
    color:#fff;
  }
  
  .modal-body{
    padding:10px 20px;
    background-color: rgba(139, 27, 74, .7);
    height: 500px;
  }
  
  
  #closeBtn{
    color:#ccc;
    float: right;
    font-size:30px;
    color:#fff;
  }
  
  #closeBtn:hover, #closeBtn:focus{
    color:#000;
    text-decoration: none;
    cursor:pointer;
  }
  
  @keyframes modalopen{
    from{ opacity: 0}
    to {opacity: 1}
  }

  /*=================================*/


  .wrapper {
    box-sizing: border-box;
    outline: none;
    margin-top: 30px;
  }
   
  .label-container {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 30px;
  }
  
  .container {
    position: absolute;
    left: 50%;
    top: 50%;
  }
  
  .panel {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 300px;
    margin: 1em auto;
    background: #fff;
    padding: 1em;
    border-radius: 6px;
  }
  
  label {
    display: block;
    margin: 1em 0 .5em;
    font-size: 11pt;
    color: #666;
  }
  
  input {
    width: 95%;
    color: #325a64;
    padding: .75em .5em;
    font-size: 12pt;
    border-radius: 4px;
    border: 1px solid #cde;
    background: #eef9fe;
    transition: border-color .1s;
  }
  input:focus {
    border-color: #96afc8;
  }
  
  button {
    cursor: pointer;
    background: #116611;
    display: block;
    margin: 1.5em 0 1em auto;
    padding: .75em 2em;
    border-radius: 100px;
    border: 2px solid #116611;
    color: #fff;
    font-size: 12pt;
    font-weight: 700;
    transition: border-color .1s, background .1s;
  }
  button:focus {
    border-color: #9de725;
  }
  button:active {
    background: #9de725;
  }
  
  /* Animacion / Posicionamiento */
  #login, #signup {
    z-index: 1;
    -webkit-animation: login-in 0.3s cubic-bezier(0, 1.5, 0.66, 1.2) both;
            animation: login-in 0.3s cubic-bezier(0, 1.5, 0.66, 1.2) both;
  }
  
  #signup {
    -webkit-animation-name: signup-in;
            animation-name: signup-in;
  }
  
  /* Funcionalidad */
  input.toggle {
    display: none;
  }
  
  label.toggle {
    display: inline-block;
    font-size: 14pt;
    font-weight: 700;
    margin: 1em;
    color: #fff;
    cursor: pointer;
  }
  
  #toggle-log:checked ~ #signup, #toggle-sign:checked ~ #login {
    background: rgb(212, 160, 189);
    z-index: 0;
    -webkit-animation: signup-out 0.3s cubic-bezier(0, 1.5, 0.66, 1.2) both;
            animation: signup-out 0.3s cubic-bezier(0, 1.5, 0.66, 1.2) both;
  }
  #toggle-log:checked ~ #signup *, #toggle-sign:checked ~ #login * {
    opacity: 0;
    pointer-events: none;
  }
  
  #toggle-sign:checked ~ #login {
    -webkit-transform: translate(-65%, -45%) scale(0.9);
            transform: translate(-65%, -45%) scale(0.9);
    -webkit-animation-name: login-out;
            animation-name: login-out;
  }

  @-webkit-keyframes signup-in {
    0% {
      -webkit-transform: translate(-35%, -45%) scale(0.8);
              transform: translate(-35%, -45%) scale(0.8);
    }
    100% {
      -webkit-transform: translate(-35%, -50%) scale(1);
              transform: translate(-35%, -50%) scale(1);
    }
  }
  
  @keyframes signup-in {
    0% {
      -webkit-transform: translate(-35%, -45%) scale(0.8);
              transform: translate(-35%, -45%) scale(0.8);
    }
    100% {
      -webkit-transform: translate(-35%, -50%) scale(1);
              transform: translate(-35%, -50%) scale(1);
    }
  }
  @-webkit-keyframes signup-out {
    0% {
      -webkit-transform: translate(-35%, -50%) scale(1);
              transform: translate(-35%, -50%) scale(1);
    }
    100% {
      -webkit-transform: translate(-35%, -45%) scale(0.8);
              transform: translate(-35%, -45%) scale(0.8);
    }
  }
  @keyframes signup-out {
    0% {
      -webkit-transform: translate(-35%, -50%) scale(1);
              transform: translate(-35%, -50%) scale(1);
    }
    100% {
      -webkit-transform: translate(-35%, -45%) scale(0.8);
              transform: translate(-35%, -45%) scale(0.8);
    }
  }
  @-webkit-keyframes login-in {
    0% {
      -webkit-transform: translate(-65%, -45%) scale(0.9);
              transform: translate(-65%, -45%) scale(0.9);
    }
    100% {
      -webkit-transform: translate(-65%, -50%) scale(1);
              transform: translate(-65%, -50%) scale(1);
    }
  }
  @keyframes login-in {
    0% {
      -webkit-transform: translate(-65%, -45%) scale(0.9);
              transform: translate(-65%, -45%) scale(0.9);
    }
    100% {
      -webkit-transform: translate(-65%, -50%) scale(1);
              transform: translate(-65%, -50%) scale(1);
    }
  }
  @-webkit-keyframes login-out {
    0% {
      -webkit-transform: translate(-65%, -50%) scale(1);
              transform: translate(-65%, -50%) scale(1);
    }
    100% {
      -webkit-transform: translate(-65%, -45%) scale(0.9);
              transform: translate(-65%, -45%) scale(0.9);
    }
  }
  @keyframes login-out {
    0% {
      -webkit-transform: translate(-65%, -50%) scale(1);
              transform: translate(-65%, -50%) scale(1);
    }
    100% {
      -webkit-transform: translate(-65%, -45%) scale(0.9);
              transform: translate(-65%, -45%) scale(0.9);
    }
  }
  