.main-section{
    display: grid;
    grid-area: ms;
    background: #DDDDDE;
    
}

.banner{
    background: #48001E;
    padding: 2%;
    color: #fff;
    text-align:center;
}

.logo-banner-img{
    width: 15%;
    max-height: 15%;
    padding: 3%;
}  
.titulo-banner {
     font-size: 3.5rem;
     font-weight:900;

    }  
.titulo-banner span{
        background: #fff;
        color: #48001E;
    }     
 .tipeo-cursor { 
     font-size: 2.6rem;
    }

#tipeo-contenedor{
        color:#fff; 
        text-decoration: none;
        background: rgba(220, 147, 175, .7);
        font-size:2.6rem;

}   

.content-grilla{
    display: grid;
    grid-template-columns: 1fr 1fr;  
    margin : 0 auto;
    max-width: 80%; 
}

.fondo-grilla{
        position: relative;   
        display: inline-block;
    }
    
    .fondo-grilla img{
        box-sizing: border-box;
        display: block;
        max-width: 100%;
        height: auto;
        padding: .5em;
    }
    
    
    .texto-grilla h2{
        font-size: 3rem;
        color: #DDDDDE;
        border: 3px solid #DDDDDE;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);   
        background: rgba(0, 0, 0, .5);
        padding: 10px;
        
    }
    
    .texto-grilla h2:hover{
        color: #DC93AF;
        border: 3px solid #DC93AF;
    }


@keyframes blink {
100% 
{ opacity:1; 
}
}